<a href="https://colab.research.google.com/github/Manish-k723/Web-Scrapping/blob/main/Ambition_box.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup

In [ ]:
requests.get('https://www.ambitionbox.com/list-of-companies?page=1').text

'<HTML><HEAD>\n<TITLE>Access Denied</TITLE>\n</HEAD><BODY>\n<H1>Access Denied</H1>\n \nYou don\'t have permission to access "http&#58;&#47;&#47;www&#46;ambitionbox&#46;com&#47;list&#45;of&#45;companies&#63;" on this server.<P>\nReference&#32;&#35;18&#46;270f2417&#46;1679479505&#46;9dea6ec\n</BODY>\n</HTML>\n'

The Ambition box have enabled safety of their data and not permitting to access their data by rejecting our html reuest. So, we have to do something different. Here one thing we can do is to make fool of the website by requesting data as a browser from them, so let's see how it will work.

In [ ]:
headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
webpage = requests.get('https://www.ambitionbox.com/list-of-companies?page=1',headers = headers).text

In [ ]:
soup = BeautifulSoup(webpage,'lxml')

In [ ]:
for i in soup.find_all('h2'):
  print(i.text.strip())

In [ ]:
for i in soup.find_all('p',class_ = 'rating'):
  print(i.text.strip())

In [ ]:
for i in soup.find_all('a',class_= 'review-count'):
  print(i.text.strip())

In [ ]:
for i in soup.find_all('p',class_= 'infoEntity'):
  print(i.text.strip())

This approach is making scarpping harder because for data security ambition-box have added multiple entities into same tag which is making it harder for extraction because of no differentiation. So, instead of doing this. We will firstly take single company at a time and work on it and then loop over all. So, let's do it.

In [ ]:
company = soup.find_all('div', class_ = 'company-content-wrapper')

In [ ]:
company[0].find('p',class_ = 'description body-small').text.strip()

'We ensure the highest levels of certainty and satisfaction through a deep-set commitment to our clients, comprehensive industry expertise and a global network of innovation and delivery centers.\n\nWe function as a full stakeholder to business, offering a consulting-led approach with an integrated portfolio of technology led solutions that encompass the entire Enterprise value chain. Our Customer-centric Engagement Model defines how we do engage with you, offering specialized services and solutions that meet the distinct needs of your business.\n\nWe build bespoke teams around your domain and technology requirements drawn from our talent pool of over 488,649 global professionals including 36.5% women from 154 nationalities. Our domain expertise has been built upon decades of experience working across industries and this knowledge underpins our suite of solutions.\n\nOur organization structure is domain led and empowered to help provide Customers a single window to industry specific solutions. Agile industry units have embedded capabilities to enable rapid responses that provide a competitive edge to our Customers. This is coupled with a unique Global Network Delivery Model™ (GNDM™), spanning 40 global locations, that is today recognized as the benchmark of excellence in technology deployment.\n\nWe have made significant investments in Digital platforms and products spanning Technology Products, Horizontal Platforms and Products, Vertical Platforms and Products.'

In [ ]:
title = []
rating = []
review_count = []
ctype = []
hq = []
old = []
employee = []
des = []
for i in company:
  title.append(i.find('h2').text.strip())
  rating.append(i.find('p',class_ = 'rating').text.strip())
  review_count.append(i.find('a',class_ = 'review-count').text.strip())
  ctype.append(i.find_all('p',class_ = 'infoEntity')[0].text.strip())
  hq.append(i.find_all('p',class_ = 'infoEntity')[1].text.strip())
  old.append(i.find_all('p',class_ = 'infoEntity')[2].text.strip())
  employee.append(i.find_all('p',class_ = 'infoEntity')[3].text.strip())
  des.append(i.find('p',class_ = 'description body-small').text.strip())

d = {'Company_name': title, 'Overall-rating':rating,'Total Reviews':review_count,'Type of Company': ctype,'Headquarter': hq,'How Old': old,
     'Total employees': employee,'Description': des}
df = pd.DataFrame(d)
df

,Company_name,Overall-rating,Total Reviews,Type of Company,Headquarter,How Old,Total employees,Description
0,TCS,3.9,(54.6k Reviews),Public,"Mumbai,Maharashtra + 276 more",55 years old,1 Lakh+ Employees (India),We ensure the highest levels of certainty and ...
1,Accenture,4.1,(34.6k Reviews),Public,Dublin + 134 more,34 years old,1 Lakh+ Employees (India),Accenture is a global professional services co...
2,Cognizant,3.9,(31.7k Reviews),Private,Teaneck. New Jersey. + 103 more,29 years old,1 Lakh+ Employees (India),"At Cognizant, we give organizations the insigh..."
3,ICICI Bank,4.0,(35.6k Reviews),Public,"Mumbai,Maharashtra + 1089 more",29 years old,1 Lakh+ Employees (India),ICICI Bank is a leading private sector bank in...
4,HDFC Bank,4.0,(42.1k Reviews),Public,"Mumbai,Maharashtra + 1307 more",29 years old,50k-1 Lakh Employees (India),The Housing Development Finance Corporation Li...
5,Wipro,3.9,(31.1k Reviews),Public,"Bangalore/Bengaluru,Karnataka + 233 more",78 years old,1 Lakh+ Employees (India),"Wipro Limited (NYSE: WIT, BSE: 507685, NSE: WI..."
6,Infosys,3.9,(30.3k Reviews),Public,"Bengaluru/Bangalore,Karnataka + 129 more",42 years old,1 Lakh+ Employees (India),Infosys is a global leader in next-generation ...
7,Capgemini,3.9,(25.6k Reviews),Public,Paris + 79 more,56 years old,1 Lakh+ Employees (India),Capgemini is a global leader in partnering wit...
8,Tech Mahindra,3.7,(23.1k Reviews),Public,"Pune,Maharashtra + 214 more",37 years old,50k-1 Lakh Employees (India),Tech Mahindra offers innovative and customer-c...
9,Genpact,4.0,(20.7k Reviews),Public,"New York,New York + 70 more",26 years old,50k-1 Lakh Employees (India),Genpact (NYSE: G) is a global professional ser...
10,HCLTech,3.8,(20k Reviews),Public,"Noida,Uttar Pradesh + 144 more",32 years old,1 Lakh+ Employees (India),"HCLTech is a global technology company, home t..."
11,Amazon,4.2,(19.9k Reviews),Public,"Seattle,Washington + 389 more",29 years old,1 Lakh+ Employees (India),Amazon is guided by four principles: customer ...
12,Axis Bank,3.9,(19.7k Reviews),Public,"Mumbai,Maharashtra + 1137 more",30 years old,50k-1 Lakh Employees (India),Axis Bank is the third largest private sector ...
13,Concentrix Corpo...,4.0,(15.9k Reviews),Public,"Fremont,California + 72 more",40 years old,10k-50k Employees (India),Concentrix is a technology-enabled global busi...
14,IBM,4.2,(16.1k Reviews),Public,"Armonk,New York + 122 more",112 years old,1 Lakh+ Employees (India),IBMers believe in progress—that the applicatio...
15,Reliance Jio,4.0,(15.7k Reviews),Public,"Navi Mumbai,Maharashtra + 1029 more",16 years old,50k-1 Lakh Employees (India),Jio is a young and dynamic organization with a...
16,Larsen & Toubro ...,4.1,(25.5k Reviews),Public,"Mumbai,Maharashtra + 540 more",77 years old,10k-50k Employees (India),Larsen & Toubro is an Indian multinational eng...
17,HDB Financial Se...,4.0,(14.1k Reviews),Private,"Ahmedabad,Gujrat + 818 more",16 years old,1 Lakh+ Employees (India),HDB Financial Services (HDBFS) is a leading No...
18,Vodafone Idea,4.2,(13.6k Reviews),Public,"Gandhinagar,Gujrat + 580 more",5 years old,10k-50k Employees (India),Vodafone Idea Limited is an Aditya Birla Group...
19,Teleperformance,3.6,(15.3k Reviews),Private,Paris + 125 more,45 years old,50k-1 Lakh Employees (India),Teleperformance is the agile business services...
20,Reliance Retail,4.1,(18.4k Reviews),Private,"Navi Mumbai,Maharashtra + 753 more",17 years old,1 Lakh+ Employees (Global),"Reliance Retail is India's largest, fastest-gr..."
21,Kotak Mahindra B...,3.9,(14.3k Reviews),Public,"Mumbai,Maharashtra + 486 more",20 years old,10k-50k Employees (India),"In February 2003, Kotak Mahindra Finance Ltd. ..."
22,Deloitte,4.1,(11k Reviews),Private,"New York,New York + 132 more",178 years old,10k-50k Employees (India),Deloitte drives progress. Our firms around the...
23,Reliance Industr...,4.1,(48k Reviews),Public,"Navi Mumbai,Maharashtra + 530 more",50 years old,10k-50k Employees (India),Our motto “Growth is Life” aptly captures the ...
24,BYJU'S,3.4,(14.5k Reviews),Private,"Bangalore,Karnataka + 267 more",12 years old,1k-5k Employees (India),BYJU'S is the world's most valuable ed-tech co...
25,Bharti Airtel,4.1,(12.9k Reviews),Public,"Gurgaon/Gurugram,Haryana + 545 more",28 years old,10k-50k Employees (India),Bharti Airtel Limited is a leading global tele...
26,Tata Motors,4.1,(12.5k Reviews),Public,"Pune,Maharashtra + 396 more",78 years old,10k-50k Employees (India),Tata Motors Group (Tata Motors) is a $34 billi...
27,Flipkart,4.2,(12.9k Reviews),Public,"Bangalore,Karnataka + 471 more",16 years old,10k-50k Employees (India),The Flipkart Group is one of India’s leading d...
28,WNS,3.7,(7.4k Reviews),Private,"Mumbai,Maharashtra + 24 more",27 years old,10k-50k Employees (India),WNS Limited is a leading Business Process Mana...
29,IndusInd Bank,3.8,(7.1k Reviews),Public,"Gurgaon/Gurugram,Haryana + 584 more",29 years old,10k-50k Employees (India),IndusInd Bank is a Mumbai based scheduled priv...

Ohh, this is data of only single page, Let's create a final dataframe for 100 pages

In [ ]:
headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}

In [ ]:
import warnings

In [ ]:
finall_df = pd.DataFrame()
warnings.filterwarnings('ignore')
for j in range(1,3):
  url = 'https://www.ambitionbox.com/list-of-companies?page={}'.format(j)

  webpage = requests.get(url,headers = headers).text

  soup = BeautifulSoup(webpage,'lxml')
  company = soup.find_all('div',class_ = 'company-content-wrapper')

  title = []
  rating = []
  review_count = []
  ctype = []
  hq = []
  old = []
  employee = []
  des = []
  for i in company:
    title.append(i.find('h2').text.strip())
    rating.append(i.find('p',class_ = 'rating').text.strip())
    review_count.append(i.find('a',class_ = 'review-count').text.strip())
    try:
      ctype.append(i.find_all('p',class_ = 'infoEntity')[0].text.strip())
    except:
      ctype.append(np.nan)
    try:
      hq.append(i.find_all('p',class_ = 'infoEntity')[1].text.strip())
    except:
      hq.append(np.nan)
    try:
      old.append(i.find_all('p',class_ = 'infoEntity')[2].text.strip())
    except:
      old.append(np.nan)
    try:
      employee.append(i.find_all('p',class_ = 'infoEntity')[3].text.strip())
    except:
      employee.append(np.nan)
    try:
      des.append(i.find('p',class_ = 'description body-small').text.strip())
    except:
      des.append(np.nan)

  d = {'Company_name': title, 'Overall-rating':rating,'Total Reviews':review_count,'Type of Company': ctype,'Headquarter': hq,'How Old': old,
     'Total employees': employee,'Description': des}
  df = pd.DataFrame(d)
  finall_df = finall_df.append(df)

In [ ]:
finall_df.shape

(60, 8)

In [ ]:
finall_df.to_csv('Company-Review.csv')